body {
    color: #565656
}

.top {
    height: 50px;
    height: 50px;
    display: flex;
}

.main {
    height: 500px;
    margin: 50px;
    display: flex;
    box-sizing: border-box
}

.bottom {
    height: 100px;
    margin: 0 50px;
    font-size: 10px;
    display: flex
}

.left {
    opacity: 0.5px;
    border: 1px solid #61e542;
    height: 500px;
    width: 300px;
    color: gray;
    font-size: 15px;
    padding: 10px;
    box-sizing: border-box
}

.right {
    height: 700px;
    margin-left: 40px;
    width: 800px;
    box-sizing: border-box;
    padding-left: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto
}

.h2 {
    display: flex;
    margin-left: 100px;
    margin-right: 500px
}

h2 {
    margin-right: 50px
}

p {
    margin-left: auto
}

.a {
    width: 100px;
    height: 400px;
    margin-left: auto
}
.q{
    width: 177px;
    height: 183px;
    margin: 55px 25px;
    padding: 0;
    border: 0 none;
    text-align: center;
    font-size: 16px;
    background-image: url(butons_bg.png);
    text-decoration: none;

    color: #525252;
    
}
.v{
height: 20px;
    width: 200px;
    margin-top: 25px
}
.icons{
    width: 177px;
    height: 183px;
    border-radius: 10px
}
.z{
   
    display: flex
}
.r{
    margin-top: 0
}
.z h2{
    margin-top: 0
}
.qwer{
    height: 13px;
    width: 13px;
    margin-top: 7px;
    margin-right: 10px;
    margin-left: 10px
}